#background {
  background-color: #fcf3f1;
}

#fullHeight {
  height: 100vh;
}
#bootstrapOverrides .btn-orange {
  background-color: orange;
}
#bootstrapOverrides .btn-purple {
  background-color: violet;
}

.color-teal {
  background-color: #f0ac89 !important;
}

header {
  background-color: #f0ac89;
}

#bootstrapOverrides .btn-outline-secondary {
  background-color: #f0ac89 !important;
}
